
* {
    box-sizing: border-box;
}
body {
    width: 100%;
    background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(0,152,155,1) 0.1%, rgba(0,94,120,1) 94.2% );
    background-size: 100%;
    font-family: 'Montserrat', sans-serif;
}