.th_nomatch {
    font-size: 3rem;
    font-weight: bold;
    line-height: 2;
    display: inline-block;
    width: 100%;
    text-align: center;
    color: seashell;
    letter-spacing: 2px;
}